.box {
    border: 2px solid red;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    margin: 2%;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
  }
  
  .left {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
  }
  
  .right {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
  }
  
  .left > div {
    display: block;
    border: 2px solid red;
    padding: 90px;
  }
  
  .right > div {
    display: block;
    padding: 59px;
    border: 1px solid red;
    margin: 1%;
  }
  