#a > p{
    border: 1px solid blue;
    /* height: 100px;
    width: 100px; */
    color: yellow;
    /* color: tomato;
    font-size: 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    box-shadow: 5px 10px #888888; */
}

#a > div {
    border: 1px solid red;
}

#a > *{
    border-radius: 10px;
    width: 150px;
}

#a p{
    background-color:blue;
}

#a h2 + p{
       background-color: red;
}

#a h2~div{
    background-color: bisque;
}
#demo::before{
    content:"Hello";
    margin-left: 5px;

}
#demo::after{
    content: "Go";
}
#k:hover{
    background-color: blue;
}
.Radon:hover{
    background-color: brown;
}
.Dj{
    background-color: aqua;
}
  /* #b{
    border: 1px solid yellow;
    height: 50px;
    width: 50px;
  }
  #c{
    border: 1px solid green;
  } */