@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* .contain{
    border: 1px solid blue;
} */
#k{
    border: 15px solid blue;
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-width: 5px blue;
    border-radius: 8px;   
}
#a{
     margin-bottom: 70px;
}

#b{
    margin-bottom: 80px;
    width: 450px;
    height: 50px;
}

#c{
    border: 1px solid blueviolet;
    width: 160px;
    height:35px ;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 2px green;
}
#c:hover{
    background-color: aqua;
}
